<div class="conversion-container">
    <h2>Convertisseur de devises</h2>
    <div>
      <label>Montant :</label>
      <input type="number" [(ngModel)]="amount" />
    </div>
    <div>
      <label>De :</label>
      <input type="text" [(ngModel)]="fromCurrency" />
    </div>
    <div>
      <label>À :</label>
      <input type="text" [(ngModel)]="toCurrency" />
    </div>
    <button (click)="convert()">Convertir</button>
  
    <div *ngIf="convertedAmount !== null">
      <p>Montant converti : {{ convertedAmount }} {{ toCurrency }}</p>
    </div>
  </div>
  